.body {
	width: 750px;
	height: 650px;
	margin: auto;
}

h1, input {
	font-family: Calibri;
}

p {
	font-family: Calibri;
	font-size: 10px;
}

textarea {
	resize: none;
}

#msgfieldset {
	display: inline-block;
	font-family: Calibri;
}

#sendMessage {
	float: left;
}

#submit{
	float: right;
	width: 70px;
	height: 51px;
}